.card {
    background-color: #ADD8E6;
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 12px 12px 12px 0px rgba(0,0,0,0.75);
  }
  .close {
    background-color: #ffffff;
    margin-top: 10px;
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);
  }
  .cardTitle {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
  }
  .linkTitle {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  span {
    font-size: 18px;
  }